<h1>This page is <%= name %> index page </h1>
<br><br>
<h1>Hi <%= name %></h1>
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>

  <a href="/login">Login</a>
  <a href="/register">Register</a>

</form>